<div class="form-container">
  <h3>Create Environment</h3>
  <form [formGroup]="environmentForm" (ngSubmit)="createEnvironment()">
    <div class="form-group">
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Environment ID</mat-label>
        <input matInput formControlName="id" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Configuration</mat-label>
        <mat-select id="configuration" formControlName="configuration" required>
          <mat-option *ngFor="let config of availableConfigurations$ | async" [value]="config">{{ config }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div formGroupName="platform" class="form-group">
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Platform Type</mat-label>
        <mat-select id="type" formControlName="type" required>
          <mat-option [value]="1">Simulation</mat-option>
          <mat-option [value]="2">Emulation</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div formGroupName="platform" class="form-group">
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Provider</mat-label>
        <input matInput type="text" id="provider" formControlName="provider" required>
      </mat-form-field>
    </div>

    <h4>Configuration parameters</h4>
    <div *ngIf="(parameters$ | async) as parameters">
      <ng-container *ngIf="parameters && parameters.length > 0; else noParams">
        <app-parametrization-form [parameters]="parameters"></app-parametrization-form>
      </ng-container>
      <ng-template #noParams>
        <p>No parameters found</p>
        <app-parametrization-form [parameters]="[]"></app-parametrization-form>
      </ng-template>
    </div>

    <div class="form-group button-container">
      <button mat-raised-button type="submit">Create</button>
    </div>
  </form>
</div>
