<div class="form-container">
  <h2>Create Environment</h2>
  <form [formGroup]="environmentForm" (ngSubmit)="createEnvironment()">
    <div class="form-group">
      <mat-label>Environment ID</mat-label>
      <mat-form-field floatLabel="auto">
        <input matInput type="text" id="id" formControlName="id" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label>Configuration</mat-label>
      <mat-form-field floatLabel="auto">
        <mat-select id="configuration" formControlName="configuration" required>
          <mat-option *ngFor="let config of availableConfigurations$ | async" [value]="config">{{ config }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div formGroupName="platform" class="form-group">
      <mat-label>Platform Type</mat-label>
      <mat-form-field floatLabel="auto">
        <mat-select id="type" formControlName="type" required>
          <mat-option [value]="1">Simulation</mat-option>
          <mat-option [value]="2">Emulation</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div formGroupName="platform" class="form-group">
      <mat-label>Provider</mat-label>
      <mat-form-field floatLabel="auto">
        <input matInput type="text" id="provider" formControlName="provider" required>
      </mat-form-field>
    </div>

    <div *ngIf="parameters$">
      <h2>Customizable configuration parameters</h2>
      <app-parametrization-form [parameters]="parameters$ | async"></app-parametrization-form>
    </div>

    <div class="form-group button-container">
      <button mat-raised-button type="submit">Create</button>
    </div>
  </form>
</div>
