.detail-row {
    &.collapsed {
      display: none;
    }
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #f5f5f5;
    border-top: 1px solid #e0e0e0;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

.table {
    margin-bottom: var(--spacing-xl);
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
    margin-top: var(--spacing-m);

  .mat-table {
    background-color: #6ac1d7; 
    color: black;              
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-m);
  margin-top: var(--spacing-s);
}

.mat-mdc-form-field {
  font-size: 18px;
  width: 100%;
  
}

.mdc-notched-outline:hover {
  color: white !important;
  border-color: white !important;
}

.filter {

  
  display: flex;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
  color: white;
  

  ::ng-deep .mdc-text-field {
    border-color: var(--color-text);
  }

  ::ng-deep .mdc-text-field:hover {
    border-color: var(--color-highlight); /* Change border color on hover */
  }

  /* Target the input text color */
  ::ng-deep .mdc-text-field__input {
    color: #FFFFFF !important; /* Text color inside input field */
  }

  /* Target the floating label */
  ::ng-deep .mdc-floating-label {
    color: #FFFFFF !important; /* Label text color */
  }

  /* Focus state outline */
  ::ng-deep .mdc-notched-outline {
    border-color: #7289DA !important; /* Outline color */
  }

  /* Focus state outline when input is active */
  ::ng-deep .mdc-notched-outline--notched {
    border-color: #5A9AD6 !important; /* Active outline color */
  }
}